*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #FFC297;
    display: flex;
    flex-direction: column;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* padding: 20px; */
}

.nav .img-logo{
    width: 65px;
    height: 65px;
    /* position: absolute;
    left: 27px;
    top: 31px; */
    /* margin: auto; */

}

.nav-icon{
    display: flex;
    justify-content: center;
    margin: 25px;
}
.nav .img-home{
    height: 27.625px;
    width: 33.33333206176758px;
    /* left: 3.33331298828125px;
    top: 4.875px;
    border-radius: 0px; */
    /* margin: auto; */
    

}

.nav .img-bell{
    height: 32.5px;
    width: 26.66666603088379px;
    /* left: 6.66668701171875px;
    top: 4.1666717529296875px;
    border-radius: 0px; */
    /* margin: auto; */

}

.nav .img-calendar{
    height: 35.75px;
    width: 33.33333206176758px;
    /* left: 3.33331298828125px;
    top: 1.625px;
    border-radius: 0px; */
    /* margin: auto; */
}

.nav .img-MA{
    height: 21.633333206176758px;
    width: 33.33333206176758px;
    /* left: 3.33331298828125px;
    top: 9.183333396911621px;
    border-radius: 0px; */
    /* margin: auto; */
}

.nav .img-user{
    height: 26px;
    width: 26.66666603088379px;
    /* left: 6.66668701171875px;
    top: 6.5px;
    border-radius: 0px;     */
    /* margin: auto; */
}

.nav .img-setting{
    height: 38.400001525878906px;
    width: 37.35200119018555px;
    /* left: 5.323974609375px;
    top: 4.79998779296875px;
    border-radius: 0px; */
    /* margin: auto; */
    position: absolute;
    bottom: 40px;
    z-index: 2;

    
}

/* .nav-icon-setting{
    background-color: red;
    background-size: 80px 80px;
} */

.setting-background{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FF7008;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.sidebar{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 120px;
    width: 462px;
    height: 100%;
}

.sidebar .setting{
    margin: 35px 40px 30px;
}

.sidebar .setting span{
    margin-left: 20px;
    font-size: 26px;
    font-weight: 600;
}

.sidebar .setting img{

}
.setting,
.setting-group{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.setting-group p{
    display: inline-block;
    margin-left: 20px;    
}

.setting-group img{
    margin-left: 60px;
}

.setting-group .img-pen{
    
}

.setting-group .img-bell{

}

.setting-group .img-clock{

}

.setting-group .img-setting{

}

.setting-group .img-help{
}

.content{
    position: absolute;
    left: 582px;
    right: 0;
    padding: 60px;
}

.content .header p{
    font-size: 26px;
    font-weight: 600;
}

.content input,
.content select{
    padding: 8px;
    border-radius: 5px;
    border: 2px gray solid;
}
.input-profile{
    margin-bottom: 20px;
}

.content label{
    display: inline-block;
    margin-bottom: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header p{
    display: inline-block;
    font-size: 20px;
    line-height: 65px;
}

.name{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.name input{
    width: 300px;
}

.email input,
.address input,
.contact input{
    width: 100%;
}

.city select{
    width: 300px;
}

.btn_cancel{
    padding: 8px 20px;
    background: transparent;
    color: #FF7008;
    border: 2px #FF7008 solid;
    border-radius: 5px;
}


.btn_save{
    padding: 8px 20px;
    background: #FF7008;
    color: white;
    border: 2px #FF7008 solid;
    border-radius: 5px;
    margin: 0 20px;

    transition-property: transform;
    transition-duration: 1s;
}

.btn_save:hover{
    transform: scale(1.2);
}

/* transition */

.transition{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    position: relative;
}

.transition img{
    width: 100%;
    position: absolute;

    transition-duration: 1s;
    transform-origin: bottom left;
}

.transition:hover img.img1{
    transform: rotate(10deg);
}

.transition:hover img.img2{
    transform: rotate(20deg);
}

.transition:hover img.img3{
    transform: rotate(30deg);
}

/* animation */

.animation{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    position: relative;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animation img{
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes self-spin {
    0%{
        transform: rotateX(0);
    }
    50%{
        transform: rotateY(1800deg);
    }
    100%{
        transform: rotateY(720deg);
    }
}

.circle{
    margin-top: 50px;
    height: 100px;
    width: 100px;
    background-color: #FF7008;
    border-radius: 50%;

    animation: self-spin 1s infinite;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    .sidebar{display: none;}
    .content{
        left: 120px;
    }
}

@media only screen and (max-width: 768px){
    .name{
        flex-direction: column;
    }
    .name input{
        width: 100%;
    }
    .first-name{
        margin-bottom: 20px;
    }
}

