*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #FFC297;
    display: flex;
    flex-direction: column;
    width: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.nav .img-logo{
    width: 65px;
    height: 65px;
    /* position: absolute;
    left: 27px;
    top: 31px; */
    margin: auto;

}

.nav .img-home{

}

.nav .img-bell{

}

.nav .img-calendar{

}

.nav .img-MA{

}

.nav .img-user{

}

.sidebar{
    background-color: aqua;
    width: 100px;
    height: 100%;
}